.page.theme_light {
  /* colors and decorations */
  --accent-color: #ff8dcb;
  --decoration-color: #353430;
  --background-color: #fff1f7;
  --text-color:  #353430;
  --main-heading-color:#353430;
  --nav-color: #353430;
  --section-title-color: #353430;
  --header-title-color: #ffc2e6;
  --footer-title-color: #ffc2e6;
  background-image: url(../images/cover-image-light.png);
}

.theme_light .header__decoration {
  display: none;
}
.theme_light .header__theme-menu-button_active {
  outline: 1px solid var(--nav-color);
}
.theme_light .header__theme-menu-button:hover {
  --nav-hover-color: rgba(50, 49, 45, .4);
}

@media (width <= 1024px) {
  .theme_light .header__title {
    --header-text-shadow: 4px 4px 0px #ff8dcb;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --decoration-color: #353430;
    --background-color: #fff1f7;
    --text-color:  #353430;
    --main-heading-color:#353430;
    --nav-color: #353430;
    --section-title-color: #353430;
    --header-title-color: #ffc2e6;
    --footer-title-color: #ffc2e6;
  }

  .page {
    background-image: url(../images/cover-image-light.png);
  }
  
  .header__decoration {
    display: none;
  }
  
  .header__theme-menu-button_active {
    outline: 1px solid var(--nav-color);
  }
  
  .header__theme-menu-button:hover {
    --nav-hover-color: rgba(50, 49, 45, .4);
  }
}