:root {
  /* colors and decorations */
  --accent-color: #ff0070;
  --background-color: #000028;
  --text-color: #f1b2ce;
  --nav-color: #ff0070;
  --main-heading-color:#000028;
  --section-heading-color: #ff0070;
  --header-title-color: #db00ff;
  --footer-title-color: #db00ff;
  --nav-hover-color: rgba(255, 0, 112, .4);
  --header-text-shadow: 4px 4px 0px #FF0070;
  /* sizes */
  --header-title-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --footer-title-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --nav-gap: 10px;
  --small-gap: 10px;
  --medium-gap: 20px;
  --small-content-gap: 50px;
  --medium-content-gap: 80px;
  --font-size: 18px;
  --text-line-height: 130%;
  /* fonts */
  --general-font-family: 'IBM Plex Mono', monospace;
}

@media (width >= 768px) {
  :root {
    --header-title-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --footer-title-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}